[submodule "anyprune/models/external/SplatFormer"]
	path = anyprune/models/external/SplatFormer
	url = https://github.com/ChenYutongTHU/SplatFormer.git
[submodule "anyprune/models/external/AnySplat"]
	path = anyprune/models/external/AnySplat
	url = https://github.com/InternRobotics/AnySplat.git
[submodule "anyprune/models/external/YoNoSplat"]
	path = anyprune/models/external/YoNoSplat
	url = https://github.com/cvg/YoNoSplat.git
